/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
/* line 64, ../../../../../Users/tatyanachalik/Documents/Treehouse Projects/style-guide/scss/base/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
/* line 160, ../../../../../Users/tatyanachalik/Documents/Treehouse Projects/style-guide/scss/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
/* line 105, ../../../../../Users/tatyanachalik/Documents/Treehouse Projects/style-guide/scss/base/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
/* line 40, ../../../../../Users/tatyanachalik/Documents/Treehouse Projects/style-guide/scss/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
   * Remove the margin in all browsers.
   */
/* line 23, ../../../../../Users/tatyanachalik/Documents/Treehouse Projects/style-guide/scss/base/_normalize.scss */
body {
  margin: 0;
}


/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Lato', sans-serif;
    color: $color-shade;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
  .headline-primary {
    color: $color-primary;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color: $color-shade;
  }
  
  .link {
    color: map-get($button-colors, "default");
    font-weight: 700;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-primary;
    border-radius: 5px;
  }
  